.carDetailsSection {
  padding: 0px 120px;
  display: flex;
  justify-content: center;
  gap: 72px;
}

.carDetailsSection img {
  width: 640px;
  height: 512px;
  border-radius: 19px;
  object-fit: cover;
  margin-bottom: 40px;
}

.carDetailsSection p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.leftSide {
  margin-top: 84px;
  width: 640px;
}

.rightSide {
  width: 488px;
  margin-top: 104px;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 2px;
  fill: black;
}

.carDetailsSection h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
}

.carDetailsSection h3 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.brandAndId {
  display: flex;
  align-items: baseline;
  gap: 16px;
  margin-bottom: 8px;
}

.carId {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #8d929a;
}

.locationAndMileage {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.locationAndMileage p {
  margin-right: 16px;
}

.price {
  font-size: 24px;
  line-height: 32px;
  color: #3470ff;
  margin-bottom: 32px;
}

.carInfo {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  gap: 110px;
}

.carInfo li {
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  margin-bottom: 16px;
}
