.searchForm {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  margin-top: 84px;
  margin-bottom: 54px;
}

.searchFieldContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #8d929a;
}

.selectWrapper {
  position: relative;
  display: inline-block;
}

.searchInput {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f7f7f7;
  border: none;
  border-radius: 12px;
  width: 100%;
  padding: 12px 16px;
}

.searchInput option {
  color: #8d929a;
}

.selectIcon {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  pointer-events: none;
  fill: #101828;
  width: 16px;
  height: 16px;
  transition: transform 200ms ease-in-out;
}

.selectIcon:focus {
  transform: translateY(-50%) rotate(180deg);
}

.brandInput {
  width: 204px;
}

.priceInput {
  width: 196px;
}

.mileageFieldFrom {
  border-bottom-right-radius: 0%;
  border-top-right-radius: 0%;
  border-right: 1px solid #dadde1;
}

.mileageFieldTo {
  border-bottom-left-radius: 0%;
  border-top-left-radius: 0%;
}

.mileageFieldFrom,
.mileageFieldTo {
  width: 160px;
}

.mileageFieldFrom::placeholder,
.mileageFieldTo::placeholder {
  color: black;
}

.searchButton {
  width: 156px;
  height: 44px;
  border: none;
  border-radius: 12px;
  color: white;
  background-color: #3470ff;
  padding: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  transition: all 200ms ease-in-out;

  &:hover,
  &:focus {
    background-color: #0b44cd;
  }
}

.resetButton {
  width: 156px;
  height: 44px;
  border: none;
  border-radius: 12px;
  border: 1px solid #3470ff;

  background-color: inherit;
  padding: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  transition: all 200ms ease-in-out;

  &:hover,
  &:focus {
    border-color: #0b44cd;
  }
}
